/* Resetting default styles */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(0, 0, 0);
    background-image: linear-gradient(45deg, rgb(0, 0, 0), rgb(50, 05, 50));
}

/* Navbar */
#navbar {
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
}

.nav-list {
    list-style: none;
}

.nav-item {
    display: inline-block;
    margin-right: 20px;
}

.nav-item a {
    text-decoration: none;
    color: white;
}

/* Section Styling */
.section-title {
    color: #555;
}

.section-subtitle {
    color: #555;
}

/* Welcome Section */
#welcome-section {
    padding: 50px;
    text-align: center;
}

/* All Project Sections (Projects through freeCodeCamp) */
#projects,
#codecademy-section,
#freecodecamp-section {
    padding: 50px;
}

#project-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-tile {
    text-align: center;
    margin: 15px;
    text-decoration: none;
    color: #444;
}g

.project-title {
    margin-top: 10px;
}


/* Codecademy Section */


/* freeCodeCamp Section */


/* Profile Section */
.profile {
    padding: 50px;
    text-align: center;
}

#profile-link {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #333;
}